/* ===== RESET ===== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}

body {
  min-height: 100vh;
  background: #0f172a;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* ===== APP ===== */
.todo-app {
  width: 542px;
  background: #1e272e;
  padding: 23px 30px;
  border-radius: 8px;
  border: 1px solid #2f3640;
}

/* ===== HEADER ===== */
.todo-header {
  display: flex;
  gap: 12px;
  /* margin-bottom: 20px; */
}

.todo-header input {
  flex: 1;
  padding: 12px 14px;
  background: transparent;
  border: 1px solid #485460;
  border-radius: 4px;
  color: #f5f6fa;
  outline: none;
}

.todo-header input::placeholder {
  color: #ff6b6b;
}

.todo-header button {
  padding: 0 18px;
  background: #ff5a4f;
  border: none;
  border-radius: 4px;
  color: #fff;
  font-weight: 600;
  cursor: pointer;
}

.todo-header button:hover {
  opacity: 0.9;
}

/* ===== LIST ===== */
.todo_list {
  list-style: none;
  /* margin-bottom: 0px; */
  /* padding: 27px 0px; */
}

.todo_list li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0;
  border-bottom: 1px solid #2f3640;
  transition: all 0.25s ease;
}
.todo_list li.removing {
  opacity: 0;
  transform: translateX(20px);
}
.todo_list li.editing {
  border-radius: 10px;
  box-shadow: 0 0 0 2px #cfcfcf inset;
}
/* ===== TASK TEXT ===== */
.task-text {
  color: #ffffff;
  cursor: pointer;
  transition: 0.2s;
  font-size: 15px;
  padding: 0px 5px;
}

.task-text:hover {
  opacity: 0.8;
}

/* ===== COMPLETED ===== */
.completed .task-text {
  text-decoration: line-through;
  opacity: 0.5;
}

/* ===== ACTIONS ===== */
.actions {
  display: flex;
  gap: 12px;
}

.actions button {
  background: transparent;
  border: none;
  cursor: pointer;
  color: #7f8fa6;
  font-size: 15px;
}

.actions button:hover {
  color: #f5f6fa;
}

/* ===== FOOTER ===== */
.todo-footer {
  margin-top: 10px;
  font-size: 13px;
  color: #7f8fa6;
  font-style: italic;
}
