body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 1.5;
  }
.container {
  max-width: 960px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
#header {
    background-color: #0073aa;
    flex: 100%;
    padding: 15px 0px;
}
#header h2 {
    font-size: 20px;
    margin: 0;
    color: #f8f8f8;
    font-weight: bold;
}

#wp-content {
    display: flex;
    flex: 100%;
    min-height: 668px;
}
#sidebar-left {
    background-color: #e1e1e1;
    flex: 1;
}
#content {
    background-color: #ffff;
    flex: 2;
}
#sidebar-right {
    background-color: #e1e1e1;
    flex: 1;
}
#footer {
    background-color: #232323;
    flex: 100%;
    padding: 5px 0px;
  }
  #footer p {
      font-size: 20px;
      color: #f8f8f8;
      font-weight: normal;
      margin: 0;
  }